root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = spaces
indent_size = 4
trim_trailing_whitespace = true

[*.cs]
indent_size = 4

[*.{shader,hlsl,compute,cginc}]
indent_size = 4

[*.{json,md,py,ts}]
indent_size = 2

[*.meta]
indent_size = 2
